[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=mayura
Group=mayura
WorkingDirectory=/home/mayura/app/src/
Environment="PATH=/home/mayura/app/venv/bin"
EnvironmentFile=/home/mayura/.env
ExecStart=/home/mayura/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target